*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body::-webkit-scrollbar {
    display: none;
}

.light {
    background-color: white;
    color: black;
    transition: background 0.5s, color 1s;
}

.dark {
    background-color: rgba(0, 0, 0, 0.842);
    color: white;
    transition: background 0.5s, color 1s;
}


